canvas {
	border: 1px solid red;
}
.div_for_canv_1 {
	position: relative;
	border: 1px solid green;
}
#aNumID{
	position: absolute;
	top: 125px;
	left: 160px;
}
#bNumID {
	position: absolute;
	top: 155px;
	left: 390px;
}
#sumNumID {
	position: absolute;
	top: 20px;
	left: 320px;
	font-size: 1.7rem;
}
.expression {
	position: absolute;
	top: 20px;
	left: 200px;
	font-size: 2rem;
}
input:focus:invalid {
	color: red;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input {
	border: 2px solid lightgrey;
	border-radius: 5px;
	text-align: center;
	display: none;
}
span{
	border-radius: 5px;
	padding: 2px 5px;
}
#aNumDivID {
	position: absolute;
	top: 125px;
	left: 160px;
	padding: 2px 7px;
	background-color: white;
	visibility: hidden;
}
#bNumDivID {
	position: absolute;
	top: 155px;
	left: 390px;
	padding: 2px 7px;
	background-color: white;
	visibility: hidden;
}
